.container {
  display: flex;
  justify-content: center;
  padding: 16px;

  @include mobile {
    padding: 12px;
  }
}

.segmentedControl {
  position: relative;
  display: flex;
  background: #ededed;
  padding: 4px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.option {
  position: relative;
  z-index: 1;
  padding: 12px 24px;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  color: color;
  cursor: pointer;
  transition: color 0.3s ease;
  border-radius: 8px;
  width: 150px;
  text-align: center;
  flex-shrink: 0;

  @include mobile {
    width: 100px;
    padding: 10px 12px;
  }

  &.selected {
    color: white;
  }
}

.background {
  position: absolute;
  top: 4px;
  height: calc(100% - 8px);
  background: $COLOR_PRIMARY;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  left: 0px;
}
