.loader {
  padding: 32px;
  width: 100%;

  &__icon {
    font-size: 48px;
    color: $COLOR-PRIMARY;
  }

  &__progress {
    width: 100%;
    max-width: 400px;
  }

  &__step {
    font-size: 16px;
    transition: all 0.3s ease;
  }
}
